<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="../assets/css/form.css">

</head>
<body>
        <section class="desktop">
                <div class=" col-md-12" style=" color:white;">
        <div class="container ">
                <div class="card">
                    <h1 class="title">Login</h1>
                    <form method="post">
                        <div class="input-container ">
                            <input type="email" name="email" class="" value="" id="usern" required="required" />
                            <label for="usern">Username</label>
                            <div class="bar"></div>
                            <span class="text-danger"></span>
                        </div>
                        <div class="input-container">
                            <input type="password" name="password" class="" value="" id="passw" required="required" />
                            <label for="passw">Password</label>
                            <div class="bar"></div>
                            <span class="text-danger"></span>
                        </div>
                        <div class="button-container">
                            <button><span>Go</span></button>
                        </div>
                        <div class="footer"><a href="#">Forgot your password?</a></div>
                    </form>
                </div>
                </div>
            </div>

        </section>
    



        
</body>
</html>