.sidenav{
  transition: 1.5s;
}
@media screen and (min-width: 700px) {
    #mySidenav {
        width: 320px;
    /* height: 100%; */
  }
  #phone_user{
    display: none;
  }
  }
  @media screen and (max-width: 700px) {
    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px !important;
      margin-left: 50px;
    }
    .sidenav {
      list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    z-index: 1080;
    top: 0;
    left: 0;
    transition: 1.5s;
    }
    #phoneside{
      display:none;
      overflow-x: hidden;
    }
    
    #main{
      margin-left:0; 
      padding: 0;
    }
    .side{
      display:  none;
    }
  }
  #profiles{
    margin-top:-70px;
    border-radius:50%;
    margin-left:21%; 
    width:160px;
    height:160px;
}


@media screen and (min-width: 700px) {

    .closed{
      display:none;
    }
    a#close{display: none;}
    .sidenav {
      list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    /* position: fixed; */
    /* height: 100%; */
    overflow: auto;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
    top: 0;
      /* left: 0; */
    }
    
    }